*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 1.2vw;
}
html{
    overflow-x: hidden;
}
body{
    min-height: 100vh; 
    background: linear-gradient(rgb(221, 219, 219), 20%, rgb(185, 177, 185));
    display: flex;
    flex-direction: column;
}

header{
    min-height: 5vh;
    width: fit-content;
    align-items: center;
}
.logo{
    width: 15vw;
    padding: 2vw;
}
.navbar{
    
    width: max-content;
    margin-left: 15vw;
    padding: 2vw;
    align-items: center;
}
.nav-link{
    font-size: 1.6vw;
}

.active{
    background:linear-gradient(rgb(177, 69, 69),10%,rgb(66, 2, 66)) !important;
    color: white !important;
    font-weight: bold !important; 
}
main{
    min-height: 80vh;
}
h1, footer{
    background:linear-gradient(rgb(177, 69, 69),10%,rgb(66, 2, 66));
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1%;
    margin: auto;
    color: white;
    height:6vw;
}
i{
    margin: 2%;
}
.search{
    display: flex;
    margin-left:auto;
    width: 30%;
    padding: 1% 2%;
}
input[type=search]{
    font-size: 1.5vw;
    border-radius: 7px;
}
.categorias{
    width: fit-content;
    padding: 2% 2%;

}
#categorias label{
    color: black;
    font-size: 1.6vw;
}
input[type=checkbox]{
    padding: 0.7vw;
}
#container{
    margin: 3vw 1vw;
}
.card{
    flex-direction: column;
    height: 37vw;
    width: 22vw;
    background-color: rgba(87, 63, 109, 0.541);
    padding: 0;
    margin: 3% auto;
    box-shadow: 5px 5px 5px 0 rgba(116, 108, 116, 0.705);   
    border-radius: 10px;
    border: 1px;
}
.card-title{
    font-size: 2vw;
    font-weight: bold;
}
.card-text{
    font-size: 1vw;
    color: white;
    padding: 1%;
}
.card-img{
    width: 100%;
    height: 15vw;
    border-radius: 10px 10px 0 0;
    margin: auto;
    object-fit: cover;
    
    

}
.card-body{
    width: 100%;
}
.card-footer{
    width: 100%;
    margin:auto;
    height: 7vw;
    align-items: center;
}
#price{
    
    color: white;
    font-size: 1.2vw;
    
}

#cerrar {
    width:1vw;
    margin-left:95%;
}
#btn-details{
    box-shadow: 0 1px 0 1px rgba(66, 14, 66, 0.568);
    background: linear-gradient(rgb(105, 51, 105),rgb(63, 41, 61));
    height: 4vw;
    width: 8vw;
    border-radius: 8px;
    font-size: 1.3vw;
    color:white;
    
}

h4{
    text-align: right;
    margin-top: 1vw;
}

.bi-search{
    width: 1.8vw;
}
table{
    width: 90%;
    margin: 10% auto;
}
tr, td, th{
    border: 1px solid;
    padding:1%; 
    height: 3vw;
    
}
th{
    background: linear-gradient(rgb(84, 17, 90), 20%, rgb(146, 139, 140));
    font-size:1.5vw;
}
td{
    background: linear-gradient(rgb(198, 193, 199), 20%, rgb(241, 237, 238));
    font-size:1.3vw;
}
form input{
    border: 1px inset !important;
    height: 4vw;
}
textarea{
    height: 30vw;
}
form {
    background: linear-gradient(rgb(84, 30, 119), 10%, rgb(106, 95, 107));
    padding: 1%;
    width: 80%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .btn-enviar{
    padding: 0.5em 1em;
    margin-top: 2%;
    color: white;
    background: linear-gradient(rgba(160, 120, 165, 0.664), rgb(75, 51, 75));
    border: 1px outset rgba(155, 106, 155, 0.623);
    cursor: pointer;
    font-size: 1.8vw;
}
form label, form input, textarea{
    font-size: 1.8vw !important;
}

label{
    text-align: right;
    color: white;
}

    

.iconos svg{
    height: 2vw;
    width: 2vw;
    margin-top: 1vw;
   
}
#img-detail{
    width: 45vw;
    margin: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 9px 0 0 9px;
   
}

#card-details{
    
    display: flex;
    padding: 0;
    flex-direction: row;
    margin: 2% auto;
    width: 80vw;
    height: 50vw;
    
}

#card-body{
    
    align-items: center;
}
#card-body h5{
    margin: 20% auto;
    font-size: 3.5vw;
}
#card-body li{
    font-size: 1.8vw;
    list-style: none;
}

@media only screen and (max-width: 992px){
    .navbar{
        width: 35vw;
        margin-left: 25vw;
        flex-direction: row-reverse;
    }
    .card{
        width: 40vw;
        height: 60vw;
        margin: 10% auto;
    }
    input[type=search]{
        font-size: 2vw;
    }    
        
    
    .card-img{
        width: 100%;
        height: 25vw;
    }
    .card-footer{
        height: 10vw;
    }
    .card-title{
        font-size: 3vw;
    }
    .card-text{
        font-size: 2vw;
    }
    #btn-details, #price{
        margin-left: 3vw;
        font-size: 2.3vw;
    
    }
    #btn-details{
        width: 12vw;
        height: 6vw;
    }
    
    .search{
        display: flex;
        margin:auto;
        width: 60%;
        height: 8vw;
        padding: 1% 2%;
        font-size: 2.5vw;
    }
    #categorias label{
        font-size: 2vw;
    }
    #categorias{
        margin:auto;
        
    }
    input[type=checkbox]{
        padding: 1vw;
    }
    .nav-link{
        font-size: 2.5vw;
    }
    
}

@media only screen and (max-width:450px){
    
    .card{
        width: 70vw;
        height: 84vw;

    }
    .card-img{
        width: 100%;
        height: 40vw;
    }
    #btn-details, #price{
        margin-left: 8vw;
        font-size: 3.3vw;
        
    }
    
    #btn-details{
        width: 16vw;
        height: 8vw;
    }
    .card-footer{
        height: 15vw;
    }
    .nav-link{
        font-size: 2.8vw;
        
    }
    .card-title{
        font-size: 5vw;
    }
    .card-text{ 
        font-size: 3vw;
    }
    #categorias{
        margin: auto;
        
        align-items: center;
    }
    #categorias label{
        color: black;
        font-size: 2.8vw;
    }
    input[type=checkbox]{
        padding: 2vw;
    }
    input[type=search]{
        font-size: 3vw;
    }
    
    .search{
        
        display: flex;
        margin:auto;
        width: 70%;
        height: 8vw;
        padding: 1% 2%;
        font-size: 3vw;
    }
    h1{
        height:auto;
        font-size: 6vw;
    }
    form label, form input, textarea{
        font-size: 2.6vw !important;
    }
    th{
        font-size: 2.6vw;
    }
    td{
        font-size: 2.5vw;
    }
    
    
}


    
    
    


